*{
    padding: 0px;
    margin: 0px;
}

#main{
    background-color: brown;
}

#mybtn{
    height: 80px;
    width: 170px;
    border-radius: 10px;
    background-color: burlywood;
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 560px;
    margin-top: 200px;
    
}

#color{
    height: 20px;
    width: 100px;
    color: black;
    background-color: cornsilk;
    margin-top: 20px;
    margin-left: 600px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;

}
